* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #150b20;

    & .box {
        position: relative;
        width: 400px;
        height: 250px;
        box-shadow: 0 0 30px #5d00b4;
        transition: .5s;
        transition-delay: .5s;

        & span {
            position: absolute;
            transition: .5s;
            inset: 0;
            background-image: url(./img.jpg);
    
            &:nth-child(1) {
                background-size: cover;
                transition-delay: 0s;
                clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
            }
            &:nth-child(2) {
                transition-delay: .25s;
                background-size: cover;
                transition-delay: 0s;
                clip-path: polygon(100% 0, 50% 0, 50% 50%, 100% 50%);
            }
            &:nth-child(3) {
                transition-delay: 0s;
                background-size: cover;
                clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 50%);
            }
            &:nth-child(4) {
                transition-delay: .25s;
                background-size: cover;
                clip-path: polygon(0 100%, 50% 100%, 50% 50%, 0 50%);
            }
        }

        &:hover{
            transition: 0s;
            transition-delay: 0s;
            box-shadow: none;
            & span:nth-child(1){
                transform: translate(-30px, -90px) rotate(-25deg);
            }
            & span:nth-child(2){
                transform: translate(40px, -110px) rotate(15deg);
            }
            & span:nth-child(3){
                transform: translate(80px, 120px) rotate(-55deg);
            }
            & span:nth-child(4){
                transform: translate(-30px, 150px) rotate(35deg);              
            }
        }
    }
}