* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #cfd1e1;
}
body .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 80px 100px;
  flex-wrap: wrap;
}
body .container .box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}
body .container .box::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
}
body .container .box .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#dbdae1, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 20px 20px rgba(0, 0, 0, 0.1), 50px 50px 50px rgba(0, 0, 0, 0.1), inset 3px 3px 2px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
body .container .box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
body .container .box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
body .container .box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  rotate: 270deg;
}
body .container .box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 4;
  stroke: rgba(0, 0, 0, 0.05);
  transform: translate(5px, 5px);
}
body .container .box .content .percent svg circle + circle {
  stroke: #555;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - 440 * var(--num) / 100);
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
body .container .box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  -webkit-animation: animateDot 2s linear forwards;
          animation: animateDot 2s linear forwards;
}
body .container .box .content .percent .dot::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: #555;
  border-radius: 50%;
}
body .container .box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
body .container .box .content .number h2 {
  font-size: 2rem;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .box .content .number h2 span {
  font-weight: 300;
  font-size: 0.5em;
  margin-left: 5px;
}
body .container .box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
body .container .box .shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
  transform: skewX(45deg);
}
body .container .box .shadow::after {
  content: "";
  position: absolute;
  bottom: -200%;
  left: calc(100% + 18px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
  transform: skewX(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animateDot {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: calc(3.6deg * var(--num));
  }
}
@keyframes animateDot {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: calc(3.6deg * var(--num));
  }
}/*# sourceMappingURL=styles.css.map */