@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fb3b57;
    display: flex;
    align-items: center;
    justify-content: center;

    & .navigation {
        position: relative;
        background-color: white;
        border-radius: 50px;
        width: 100px;
        height: 500px;
        box-shadow: 0 5px 45px rgba(0,0,0,.5);

        ul {
            position: relative;
            list-style: none;
            display: flex;
            flex-direction: column;

            & .indicator {
                position: absolute;
                width: 100px;
                height: 100px;
                transition: .3s;

                &::before {
                    content: '';
                    position: absolute;
                    background-color: black;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    transition: .5s;
                    width: 70px;
                    height: 70px;
                }
            }
    
            & li {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 100px;
                width: 100%;

                &.active a .icon{
                    color: white;
                }
    
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: black;
                    padding: 20px;
                    border-radius: 50%;

                    & .icon {
                        position: relative;
                        z-index: 1;
                        transition: .3s;

                        i {
                            font-size: 2.2em;
                        }
                    }

                    & .title {
                        position: absolute;
                        top: 50%;
                        left: 140px;
                        transform: translateY(-50%);
                        background-color: white;
                        font-size: 1.5em;
                        padding: 7px 12px;
                        border-radius: 8px;
                        transition: .5s;
                        box-shadow: 0 5px 15px rgba(0,0,0,.5);
                        opacity: 0;
                        visibility: hidden;

                        &::before{
                            content: '';
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            background-color: white;
                            border-radius: 2px;
                            left: -13px;
                            top: 46%;
                            transform: rotate(45deg) translateY(-50%);
                            transition: .5s;
                        }
                    }
                }

                &:hover{
                    a .title{
                        opacity: 1;
                        visibility: visible;
                        transform: translate(-20px, -50%);
                    }
                }
            }
        }
    }
}