@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform-style: preserve-3d;
    background: #050b24;
    overflow: hidden;

    .box {
        position: relative;
        width: 100%;
        height: 400px;
        animation: animate 4s linear infinite;
        transform-style: preserve-3d;
        
        & span {
            position: absolute;
            inset: 0;
            transform: rotateX(calc(60deg * var(--i)));
    
            &::before{
                content: 'CONTENT';
                position: absolute;
                top: 0;
                text-align: center;
                font-size: 10em;
                font-weight: 700;
                color: #050b248f;
                text-shadow: 0px 0px 20px #9800fd;
                -webkit-text-stroke: 2px black;
                width: 100%;
            }

            &:nth-child(odd)::before{
                color: rgba(255, 255, 255, 0.541);
            }
        }
    }
}

@keyframes animate {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}